* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.lists {
  margin-top: -150px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}